form {
	input, textarea {
		background: transparent !important;
		border: none !important;
		height: auto !important;
		@include box-shadow('none');
		@include border-radius(0);
		font-weight: 700;
		font-size: 1em;
		line-height: 100% !important;
		margin: 30px auto;
		padding: 0 20px !important;
		@media #{$sm-and-down} {
			padding-left: 15px !important;
			padding-right: 15px !important;
			text-align: center;
		}
	}
	input {
		&[type='text'], &[type='email'], &[type='tel'], &[type='number'] {
			min-height: 75px;
			overflow: hidden;
			@media #{$sm-and-down} {
				margin: 15px auto;
			}
		}
		&[type='submit'] {
			height: auto;
			@media #{$sm-and-down} {
				margin-top: 15px !important;
				width: 100%;
				display: block !important;
			}
		}
	}
	textarea {
  	min-height: 190px;
  	padding-top: 40px !important; 
	}
}

// White Input Template
.input-white {
	border-bottom: 2px solid color('shades', 'white') !important;
	color: color('shades', 'white') !important;
	&::-webkit-input-placeholder {
	   color: color('shades', 'white') !important;
	   text-transform: uppercase;
	}
	&:-moz-placeholder { 
	   color: color('shades', 'white') !important;
	   text-transform: uppercase;  
	}
	&::-moz-placeholder { 
	   color: color('shades', 'white') !important;
	   text-transform: uppercase;  
	}
	&:-ms-input-placeholder {  
	   color: color('shades', 'white') !important;
	   text-transform: uppercase;  
	}
}

// Gray Input Template
.input-gray {
	border-bottom: 2px solid color('gray', 'light-1') !important;
	color: color('gray', 'light-1') !important;
	&::-webkit-input-placeholder {
	   color: color('gray', 'light-1') !important;
	   text-transform: uppercase;
	}
	&:-moz-placeholder { 
	   color: color('gray', 'light-1') !important;
	   text-transform: uppercase;  
	}
	&::-moz-placeholder { 
	   color: color('gray', 'light-1') !important;
	   text-transform: uppercase;  
	}
	&:-ms-input-placeholder {  
	   color: color('gray', 'light-1') !important;
	   text-transform: uppercase;  
	}
}