// Padding/Margin
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}

// Center Element
.center {
	width: 100%;
	height: 100vh;
	display: table;
}

// Float
.left-float {
	float: left;
}
.right-float {
	float: right;
}

// Clearfix
.clearfix {
	content: "";
	clear: both;
	display: block;
}

// Links
a, button, input, textarea {
	@include transition('background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1)');
	@include backface-visibility('hidden');
}
a {
  text-decoration: none;
  outline: none !important;
}
a:hover, a:focus {
  outline: none !important;
}

// Miscellaneous
.hidden {
	visibility: hidden;
}
.overflow-visible {
	overflow: visible !important;
} 
.overflow-hidden {
	overflow: hidden !important;
} 

// Hero
.hero {
	padding-top: 50px;
	padding-bottom: 50px;
	display: block;
	float: left;
	width: 100%;
	max-width: 100%;
	@media #{$sm-and-down} {
		padding-top: 30px;
	}
	h1, h2, h3, h4, h5 {
		font-family: $font-family-colfax-light;
		color: color('gray', 'dark-2');
	}
	h1 {
		margin-top: .75em;
		font-size: 60px;
		@media #{$sm-and-down} {
			font-size: 25px;
			font-weight: 600;
		}
	}
	h2 {
		font-size: 48px;
		@media #{$sm-and-down} {
			font-size: 24px;
			font-weight: 600;
		}
	}
	h4 {
		font-size: 15px;
		@media #{$sm-and-down} {
			font-size: 10px;
			font-weight: 600;
		}
	}
	p {
		font-size: 20px;
		margin: 1.5em 0 2em;
		@media #{$sm-and-down} {
			font-size: 12px;
		}
	}
	.carousel-inner {
		min-height: 400px;
		max-height: 400px;
	}
	.cta {
		position: absolute;
		left: -250px;
		transition: left 1s;
		opacity: 0
	}
	.cta.visible {
		left: 15px;
		opacity: 1;
		position: absolute;
		@include animation('slideInLeft 1s forwards');
	}
	.text {
		@include flexbox();
		@include align-items('center');
		@include justify-content('space-between');
		padding: 100px 0 200px;
		p {
			margin: 0;
		}
	}
}
.img-hero {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	@media #{$md-and-down} {
		float: none;
		display: table;
		margin: 0 auto;
		padding: 30px 15px;
		clear: both;
		width: 100%;
		max-width: 90%;
	}
	@media #{$sm-and-down} {
		max-width: 100%;
	}
	& > img {
		@media #{$sm-and-down} {
			padding: 0;
			max-width: 100%;
			width: 100% !important;
		}
	}
}

// Counter 
#counters {
	padding: 75px 15px;
	margin: 0 auto;
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	span.counter {
		text-transform: uppercase;
		font-family: $font-family-colfax-light;
		font-weight: bold;
		color: color('shades', 'white');
		&.h1 {
			font-size: 60px;
		}
	}
	.item {
		@media #{$sm-and-down} {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		h4 {
			font-size: 15px;
		}
		.counter-name {
			font-weight: 700;
			letter-spacing: .125em;
			text-transform: uppercase;
			color: color('shades', 'white');
		}
	}
}

// Bottom CTA
#bottom-cta {
	padding: 140px 0 190px;
	@include flexbox();
	@include align-items('center');
	& > .row {
		margin: 0 auto !important;
		display: block;
		h2, p {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		p {
			font-size: 16px;
			max-width: 85%;
			margin: 0 auto 20px;
		}
		a {
			margin: 0 auto !important;
			float: none !important;
			display: table !important;
			width: auto !important;
		}
	}
}

// Read More 
.read-more {
	color: color('blue', 'base');
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: bolder;
	letter-spacing: .075em;
	text-transform: uppercase;
	font-family: "Colfax-Regular", "Helvetica Neue", "Helvetica", Arial, sans-serif !important;
	text-decoration: none !important;
	float: left;
	&:hover, &:focus {
		color: color('blue', 'dark-1') !important;
		text-decoration: none !important;
	}
}

// Padding Size
.padding-xl {
	@media #{$md-and-up} {
		padding: 150px 0;
	}
}
.padding-lg {
	@media #{$md-and-up} {
		padding: 90px 0;
	}
}
.padding-md {
	@media #{$md-and-up} {
		padding: 75px 0;
	}
}
.padding-sm {
	@media #{$md-and-up} {
		padding: 60px 0;
	}
}
.padding-xs {
	@media #{$md-and-up} {
		padding: 20px 0;
	}
}

// Underline 
.text-underline {
	color: color('gray', 'dark-2');
	display: inline-block;
	padding-bottom: 4.5px;
	border-bottom: 3px solid color('gray', 'dark-2');
	font-size: 11px;
	font-weight: 700;
	letter-spacing: .125em;
	text-transform: uppercase;
	font-family: $font-family-colfax-regular !important;
}

// Navigation Arrow 
.nav-arrow {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 2rem;
	display: block;
	margin: 0 auto !important;
	left: 0;
	right: 0;
	a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 30px;
    text-align: center;
    padding: 10px;
  	color: color('gray', 'dark-1');
  	margin: 0 auto;
	}
}

// Typography
h1, h2, h3, h4, h5 {
	margin-bottom: 25px;
}
li, p {
	line-height: 1.75em;
	color: color('gray', 'dark-1');
}

// Text Alignment
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

// Font Weight
.text-bolder {
	font-weight: bolder;
}
.text-bold {
	font-weight: bold;
}
.text-regular {
	font-weight: 500;
}
.text-light {
	font-weight: 100;
}

// Bootstrap Overrides
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
	color: color('gray', 'dark-1');
	text-transform: uppercase;
}
.btn, .nav {
	font-size: 11px !important;
	font-weight: 700 !important;
	letter-spacing: .125em !important;
	text-transform: uppercase;
}

// Carousel
.carousel-indicators {
	display: block !important;
	position: relative !important;
	top: auto;
	left: auto;
	width: 100%;
	margin-left: 0;
	margin-top: 30px;
	bottom: 0 !important;
}
.carousel-indicators li {
	margin: 0 5px !important;
	width: 18px !important;
	height: 18px !important;
	border: 2px solid color('gray', 'light-1') !important;
}
.carousel-indicators > li.active {
	margin: 0 5px;
	width: 18px;
	height: 18px;
	border: 2px solid color('blue', 'base') !important;
	background: color('blue', 'base') !important;
}
.carousel-fade.carousel-inner.item {
	opacity: 0;
	transition-property: opacity;
}
.carousel-fade.carousel-inner.active {
	opacity: 1;
}
.carousel-fade.carousel-inner.active.left, .carousel-fade.carousel-inner.active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

