// Insert fonts here
@font-face {
  font-family: 'Colfax-Light';
  src:url(../fonts/Colfax-Light.eot);
  src:url(../fonts/Colfax-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Colfax-Light.woff) format("woff"),url(../fonts/Colfax-Light.ttf) format("truetype"),url(../fonts/Colfax-Light.svg#svgFontName) format("svg")
}

@font-face {
  font-family: 'Colfax-Regular';
  src:url(../fonts/Colfax-Regular.eot);
  src:url(../fonts/Colfax-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Colfax-Regular.woff) format("woff"),url(../fonts/Colfax-Regular.ttf) format("truetype"),url(../fonts/Colfax-Regular.svg#svgFontName) format("svg")
}

@font-face {
  font-family: 'Colfax-Medium';
  src:url(../fonts/Colfax-Medium.eot);
  src:url(../fonts/Colfax-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Colfax-Medium.woff) format("woff"),url(../fonts/Colfax-Medium.ttf) format("truetype"),url(../fonts/Colfax-Medium.svg#svgFontName) format("svg")
}

@font-face {
  font-family: 'Colfax-Bold';
  src:url(../fonts/Colfax-Bold.eot);
  src:url(../fonts/Colfax-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Colfax-Bold.woff) format("woff"),url(../fonts/Colfax-Bold.ttf) format("truetype"),url(../fonts/Colfax-Bold.svg#svgFontName) format("svg")
}

html {
  line-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  font-weight: normal;
}
body {
  font-family: $font-family-colfax-regular !important;
  padding: 0;
  margin: 0;
}

// Header Styles
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}
h1 {
  font-size: $h1-fontsize;
  line-height: 110%;
  margin: ($h1-fontsize / 2) auto ($h1-fontsize / 2.5);
}
h2 {
  font-size: $h2-fontsize;
  line-height: 110%;
  margin: ($h2-fontsize / 2) auto ($h2-fontsize / 2.5);
}
h3 {
  font-size: $h3-fontsize;
  line-height: 110%;
  margin: ($h3-fontsize / 2) auto ($h3-fontsize / 2.5);
}
h4 {
  font-size: $h4-fontsize;
  line-height: 110%;
  margin: ($h4-fontsize / 2) auto ($h4-fontsize / 2.5);
}
h5 {
  font-size: $h5-fontsize;
  line-height: 110%;
  margin: ($h5-fontsize / 2) auto ($h5-fontsize / 2.5);
}
h6 {
  font-size: $h6-fontsize;
  line-height: 110%;
  margin: ($h6-fontsize / 2) auto ($h6-fontsize / 2.5);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

// Text Styles
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
small {
  font-size: 75%;
}