#nav-icon2 {
  position: fixed;
  top: 25px;
  right: 40px;
  z-index: 909;
  cursor: pointer;
  overflow: visible;
  @include transition('background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1)');
	@include backface-visibility('hidden');
  @media #{$sm-and-down} {
  	top: 0;
  	right: 0;
  	width: 75px;
  	height: 75px;
  	background: color('gray', 'dark-2');
  	@include flexbox();
  	@include align-items('center');
  }
  &:hover, &:focus {
		background: color('blue', 'dark-4');
  }
  span {
  	margin: 0 auto;
  	display: block;
  }
  i {
		@media #{$sm-and-down} {
			font-size: 2.75em;
			color: color('shades', 'white');
		}
  }
}

.nav-bar{ 
	.sliding-menu {
    background-color: rgb(40, 38, 38);
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    @include transition('all 0.35s ease');
    height: 100vh;
    width: 250px;
    margin-right: -250px;
    span.exit {
			position: relative;
	    color: color('shades', 'white');
	    cursor: pointer;
	    left: 20px;
	    top: 20px;
		}
    &.active{
    	right: 250px;
    	@media #{$sm-and-down} {
    		right: 200px;
    	}
    }
    ul.nav {
    	width: 200px;
	    display: block;
	    margin: 0 auto;
	    padding-top: 60px;
	    @media #{$sm-and-down} {
	    	padding-top: 40px;
	    }
    	li {
    		display: block;
    		margin: 0 auto;
    		a {
    			color: color('gray', 'light-2');
    			font-size: 18px;
    			letter-spacing: 2px;
    			text-transform: uppercase;
    			text-align: left;
    			padding-left: 0;
    			float: left;
    			display: block;
    			@media #{$sm-and-down} {
						font-size: 14px;
    			}
	    		&:hover {
	    			color: color('blue', 'base');
	    			background: transparent;
	    		}
	    		&.btn {
	    			margin-top: 30px !important;
	    		}
	    		&.btn-center {
	    			display: block !important;
	    		}
	    	}
  		}
    }
  	hr {
  		width: 75%;
	    border-color: rgba(color('shades', 'white'), 0.45);
			float: left;
			clear: both;
			display: block;
	    margin-bottom: 40px;
    	margin-top: 10px;
    	@media #{$sm-and-down} {
    		margin-bottom: 15px;
    	}
  	}
	}
}

header {
	& > nav.navbar {
		background: color('shades', 'transparent') !important;
		border-color: color('shades', 'transparent') !important;
		padding-top: 40px;
		border-width: 0;
		background-clip: padding-box;
		padding-left: 40px;
		padding-right: 40px;
		@include transition('border-image 400ms ease');
		&.navbar-shrink  {
			@include transition('all 200ms ease-in-out');
			@include box-shadow('0 -2px 5px 0 rgba(0,0,0,0.75)');
			@media #{$md-and-up} {
				background: color('shades', 'white') !important;
				padding: 15px 40px;
			}
			.navbar-brand {
				@media #{$md-and-up} {
					max-width: 100%;
					padding: 0;
					margin-left: 0;
				}
			}
		}
		.navbar-brand {
			padding: 0;
			margin: 0 !important;
		}
	}
	div.navbar-header {
		position: absolute;
		z-index: 9999;
	}
	div#navigation {
		position: relative;
		@include flexbox();
		@include align-items('center');
    float: right;
    width: 75%;
		ul {
			padding: 0;
			&.navbar-center {
				text-align: center;
				width: 100%;
				position: relative;
		    left: 8%;
				@include flexbox();
				@include flex-wrap('wrap');
			}
			&.navbar-right {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: 0;
				@include flexbox();
				@include align-items('center');
			}
			li {
				&.active {
					a {
						background: color('shades', 'transparent') !important;
						color: color('blue', 'dark-1') !important;
						&::before {
							@include transition-delay();
						}
						&::before, &::after {
							@include transform('scale3d(1,1,1)');
						}
						&:focus, &:hover {
							color: color('blue', 'dark-1') !important;
						}
					}
				}
				a {
					color: color('gray', 'dark-1');
					line-height: 26px;
					font-weight: 700;
					cursor: pointer;
					font-family: inherit;
					position: relative;
					margin: 0 1em;
					padding: 10px 0 5px;
					@include transition('color 0.35s');
					@include user-select('none');
					-webkit-touch-callout: none;
					-khtml-user-select: none;
					-webkit-tap-highlight-color: rgba(color('shades', 'black'),0);
					&::before {
						background: color('blue', 'base');
						@include transition-delay('0.4s');
					}
					&::before, &::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 3px;
						@include transform('scale3d(0,1,1)');
						@include transform-origin('center left');
						@include transition('transform 0.4s cubic-bezier(0.22,0.61,0.36,1)');
					}
				}
				&.start-project {
					a {
						color: color('shades', 'white');
					}
				}
			}
		}
	}
}







