// Headings
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

// Media Queries
$xs-screen: 320px !default;
$sm-screen: 600px !default;
$md-screen: 992px !default;
$lg-screen: 1200px !default;

$xs-screen-up: 376px !default;
$sm-screen-up: 601px !default;
$md-screen-up: 993px !default;

$xs-and-up: "only screen and (min-width:#{$xs-screen})" !default;
$sm-and-up: "only screen and (min-width:#{$sm-screen})" !default;
$md-and-up: "only screen and (min-width:#{$md-screen})" !default;
$lg-and-up: "only screen and (min-width:#{$lg-screen})" !default;

$xs-and-down: "only screen and (max-width:#{$xs-screen})" !default;
$sm-and-down: "only screen and (max-width:#{$sm-screen})" !default;
$md-and-down: "only screen and (max-width:#{$md-screen})" !default;
$lg-and-down: "only screen and (max-width:#{#lg-screen})" !default;

$xs-only: "only screen and (min-width:#{$xs-screen}) and (max-width:#{$xs-screen-up})" !default;
$sm-only: "only screen and (min-width:#{$sm-screen}) and (max-width:#{$sm-screen-up})" !default;
$md-only: "only screen and (min-width:#{$md-screen}) and (max-width:#{$md-screen-up})" !default;

// Typography
$font-family-colfax-light: 'Colfax-Light', 'Helvetica Neue', 'Helvatica', Arial, sans-serif;
$font-family-colfax-regular: 'Colfax-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$font-family-colfax-medium: 'Colfax-Medium', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$font-family-colfax-bold: 'Colfax-Bold', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

// Colors (with opacity levels)
$light-blue: rgba(31,126,221,0.75) !default;
$light-red: rgba(222,48,19,0.75) !default;
$light-yellow: rgba(255,210,0,0.75) !default;